<div class="row menu-component">
    <div class="col-sm-3">
        <mat-card>
            <a matRipple routerLink="/auth/sign-in">
                <mat-card-header>
                    <mat-card-title>Sign In</mat-card-title>
                </mat-card-header>
            </a>
        </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card>
            <a matRipple routerLink="/auth/sign-up">
                <mat-card-header>
                    <mat-card-title>Sign Up</mat-card-title>
                </mat-card-header>
            </a>
        </mat-card>
    </div>
</div>
